.App{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
}

#outer-container{
  width: 20%;
  border: solid black 2px;
}

#fruit{
  width: 80%;
}

option{
  width: 50px;
}
