.App{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  flex-direction: column;
}

#outer-container{
  width: 20%;
  border: solid black 2px;
  position: relative;
}

#fruit{
  width: 100%;
}



.hidden-copy{
  position: absolute;
  top: 1rem;
  right: -10%;
}

.hidden-copy{
  transition: opacity 1s ease-in-out;
}

.hidden-copy > *{
  margin: 0px;
  font-size: 10px;
}
